
  /* Estilos para dispositivos móviles */
  @media only screen and (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: center;
    }
  
    .contenedormenu {
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }
  
    .contenedormenu li {
      margin-bottom: 10px;
    }
  
    .carrito,
    .busqueda {
      margin-top: 10px;
    }
  
    section {
      grid-template-columns: 1fr;
    }

    .img-header{
      width: 100%;
      height: 60vh;
  }

  
  }