@import url('https://fonts.googleapis.com/css2? family= Lato:wght@300;400 & display=swap');
*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

p{ color: rgb(62, 62, 92); }

    
.titulo{
    font-size: 30px;
        color: black;
        text-align: center;
        color: rgba(26, 27, 23, 1);
        margin: 25px;
    }


nav{
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.imgheader{
    width: 100%;
}

.contenedormenu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.centro{
    text-align: center;
    margin-bottom: 25px;
}


.menu{
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    margin-left: 20px;
    
}
.link{
    text-decoration: none;
    color: black;
}
.imagen-fondo{
    width: 100%;
    height: 80vh;
    
}
.contenedor-img{
    width: 100%;
    height: 100%;
}
.img-header{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

main section img{
    width:70%;
}
.descripcion{
    text-align: center;
    font-size: 20px;
    margin: 10px;
    
    
    
    
}
.padre{
    width: 100%;
  }
  .img1{
    display: flex;
    justify-content: space-evenly;
  }
  
  .prueba1, .prueba2, .prueba3{
    width:33%;
    text-align: center;
  }
  .imagenes{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
  }
  .parrafo{
    font-style: italic;
    font-weight: 700;
    
  }


    .section-paquetes{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }
    

.redes{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    
}
a{
    text-decoration: none;
}
footer{
    background-color: #16161a;
    height: 25vh;
}
.seguinos{
    text-align: center;
    color: white;
    padding: 25px ;
    
}
.contenedorredes{
    width: 100%;
    text-align: center;
}
.lugares{
    margin-right: 10px;
    width: 100%;
    
}

.container{
    width: 100%;
  
}
.lugares-contenedor1{
   width: 40%;
}

.paraisos{
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.contanosmas{ 
    font-weight: 900;
    font-style: italic;
    margin-bottom: 10px;
    width: 60%;
    padding: 10px 40px 40px 40px;
}

.lugares-visita{
    display: flex;
    flex-direction: column;
}

.nosotros{
    
    font-style: italic;
    
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
    
}
.sobrelaagencia{
    text-align: center;
    background-color: whitesmoke;
}
.escribir{
    margin-left: 10px;
    margin-top: 5px;
    font-size: large;
}
.contacto{
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: center;
    
}

.maximo{
    width: 100%;
    display: flex;
    justify-content: center;


}
.contenedor{
    width: 300px;
    height: 475px;
    display: inline-block;
    border-radius: 10px ;

    margin: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);

}

.contenedorimagen{
    width: 100%;
    height: 200px;
}

.img1{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 5px 5px 0 0; 
}


.detallescontenedor{

    height: 150px;
    border-bottom: 1px solid rgb(169, 169, 169);
    padding: 15px;

}

.detallescontenedor > h2{
    margin-bottom: 5px;
}

.detallescontenedor > p{
    font-size: 13px;
}

.fecha{
    font-weight: 800;
}


.contenedorprecio{
    padding: 15px;
}

.contenedorprecio > p {
    font-size: 13px;
    color: rgb(88, 88, 88);
}

.contenedorprecio > h3{
    margin: 5px 0 ;
}
.paquetes{
    text-align: center;
}
.presentacion{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    margin-top: 30px;
    
}
.grid-container {
    display: grid;
    grid-template-areas: 
      "header header header"
      "sidebar  content content"
      "footer footer footer";
    grid-gap: 10px;
  }
  
  .header {
    grid-area: header;
  }
  
  .sidebar {
    grid-area: sidebar;
  }
  
  .content {
    grid-area: content;
  }
  
  .footer {
    grid-area: footer;
  }
  
  .grid-container img {
    width: 100%;
    height: 100%
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .contenedormenu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  .carrito,
  .busqueda {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  .img2 {
    display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  }

  .botones{
    background-color: rgb(255, 255, 255);

  }
  .header2{
    width: 100%;
  }
  
  







