@import url('https://fonts.googleapis.com/css2? family= Lato:wght@300;400 & display=swap');
*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

p{ color: rgb(62, 62, 92); }

nav{
  background-color: rgb(248, 245, 245);
  
}
.logo{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.link{
  text-decoration: none;
  color: black;
}
footer{
  background-color: #16161a;
  height: 25vh;
}
.seguinos{
  text-align: center;
  color: white;
  padding: 25px ;
  
}
.contenedorredes{
  width: 100%;
  text-align: center;
}
.redes{
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  
}