.imgheader{
    width: 100%;
}
.titulo{
    font-size: 30px;
        color: black;
        text-align: center;
        color: rgba(26, 27, 23, 1);
        margin: 25px;
    }

    .contenedormenu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .menu{
        display: flex;
        text-decoration: none;
        list-style: none;
        font-size: 20px;
        margin-left: 20px;
        
    }
    .padre{
        width: 100%;
      }
      .img1{
        display: flex;
        justify-content: space-evenly;
      }
      
      .prueba1, .prueba2, .prueba3{
        width:33%;
        text-align: center;
      }
      .imagenes{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 70%;
      }