.centro{
    text-align: center;
    margin-bottom: 25px;
}
.container{
    width: 100%;
  
}
.contanosmas{ 
    font-weight: 900;
    font-style: italic;
    margin-bottom: 10px;
    width: 60%;
    padding: 10px 40px 40px 40px;
}